/* You can add global styles to this file, and also import other style files */

.completed:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: green !important; /* color elements as green */
}

.task-output {
  background-color: rgba(31, 209, 99, 0.5);
  padding: 5px;
  border-radius: 5px;
  font-family:Arial, sans-serif;
  font-size:12px;
  width: max-content;
}
